.profile:hover {
  cursor: pointer;
}

.profile-icon {
  color: #ffffff;
}
.profile-icon:hover {
  color: black;
}


.dropdown {
  position: absolute;
  top: 60px;
  right: 2px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: auto;
  min-width: 120px;
  max-width: 200px;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: rgb(92, 92, 92);
  font-weight: 700;
}

.dropdown li:hover {
  color: black;
}
.user-email {
  display: block; 
  word-break: break-all;
  white-space: normal;
  padding: 8px;
  border-bottom: 1px solid #ddd; 
  margin-bottom: 8px; 
  text-align: center; 
}

